@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin defaultTransition($properties: all) {
  transition: $properties 0.2s ease-in-out;
}

@mixin defaultAnimation($animation, $fillMode: forwards) {
  animation: $animation 0.2s ease-in-out;
  animation-fill-mode: $fillMode;
}
